{# index.twig #}
{% extends "../_layout/base.twig" %}

{% block page %}

	{% set content = {
    key: 'Classe',
    value: 'Propriétés'
} %}

	{# include "../_includes/sidebar.twig" #}

	<div class="flex flex-row min-h-screen h-screen">

		<div class="w-3/12 bg-gray-1 h-screen px-4 py-3">

			<header class="text-white">
				<p class="text-20">Fake nav sticky</p>

				<br/><br/>
				<a href="" class="o-button purple">Button</a>
				<br/><br/>
				<a href="" class="o-button teal">Button</a>

				<br/><br/>
				<a href="" class="o-button-outline purple">outline</a>
				<br/><br/>
				<a href="" class="o-button-outline teal">outline</a>


				<br/><br/>
				<a href="" class="o-button-bordered purple">bordered</a>
				<br/><br/>
				<a href="" class="o-button-bordered teal">bordered</a>


				<br/><br/>
				<a href="" class="o-button purple with-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
					<span>Download</span>
				</a>

				<br/><br/>
				<a href="" class="o-button purple with-icon">
					<span>Download</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
				</a>


				<br/><br/>
				<a href="" class="o-button purple is-disabled">disabled</a>

			</header>

		</div>

		<div class="w-9/12 h-screen overflow-hidden">
			<div class="overflow-y-auto w-full h-full px-10 ">
				{% include "../_includes/blocks/hero-simple.twig" %}
				{% include "../_includes/blocks/col-2-text-image.twig" %}
				{% include "../_includes/blocks/col-2-text-image-alt.twig" %}
				{% include "../_includes/blocks/col-2-text-overflow-image.twig" %}
				{% include "../_includes/blocks/col-3-products.twig" %}
				{% include "../_includes/blocks/col-feature-spec.twig" %}
			</div>
		</div>

	</div>

{% endblock %}
