/* ==========================================================================
#html
========================================================================== */

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

/* ==========================================================================
#body
========================================================================== */

body {
    @apply text-black text-8 font-sans leading-none overflow-x-hidden bg-white;
}

/* ==========================================================================
#selection
========================================================================== */

::-moz-selection,
::selection {
    color: $text-selection-color;
    text-shadow: none;
    background-color: $text-selection-bg; /* Required when declaring ::selection */
}
