<div class="flex flex-col">

    {% for i in 1..5 %}
    <div class="o-checkbox mb-2">
        <input class="o-checkbox__input" type="checkbox" id="checkbox_{{ loop.index }}" name="my-checkbox" value="{{ loop.index }}" {{ disabled }}>
        <label for="checkbox_{{ loop.index }}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis tincidunt magna, et gravida enim.
        </label>
    </div>
    {% endfor %}

</div>
