<div class="flex flex-col">

    {% for i in 1..5 %}
    <div class="o-radio mb-2">
        <input class="o-radio__input" type="radio" id="radio_{{ loop.index }}" name="my-radio" value="{{ loop.index }}" {{ disabled }}>
        <label for="radio_{{ loop.index }}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis tincidunt magna, et gravida enim. 
        </label>
    </div>
    {% endfor %}
    
</div>

