<div class="o-from-control {{ modifier }}">
    {% render "@label" with {some: 'values'} %}
    {% render "@input-text" with {some: 'values'} %}
    {% render "@input-note" with {some: 'values'} %}
</div>
