<section class="max-w-site mx-auto px-4 mt-10 |  md:mt-20">

    <div class="md:flex md:-mx-6">

        <div class="md:w-6/12 md:px-6">

            <div class="flex flex-col h-100 bg-gray-1 text-white p-4">
                <h2 class="text-20 tracking-tight leading-none font-extrabold">
                    Aenean ultricies
                </h2>
                <div class="o-wysiwyg mt-6 overflow-y-auto flex-1 pr-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida magna quis metus fringilla pulvinar. Curabitur dignissim posuere odio, eget dignissim odio lacinia vitae. Ut finibus accumsan dui, ac consequat sem ullamcorper nec. Mauris id tellus tincidunt nisl posuere hendrerit in nec sem. Nunc nec tortor pharetra, aliquet nulla eget, ornare augue. Praesent orci dolor, rhoncus et lacus non, iaculis molestie dolor. Ut vel mauris a libero maximus blandit. Vestibulum hendrerit ut diam id ultrices. Etiam at mi ex. Quisque malesuada pharetra ante. Pellentesque nisi enim, varius vulputate interdum eget, aliquam eget tellus. Ut interdum lacus in lorem suscipit commodo. Curabitur vel ipsum in ante fermentum accumsan sit amet eu orci.</p>
                    <p>Maecenas faucibus ut enim ut malesuada. Vestibulum dictum ex nisl, et semper sem pellentesque quis. Aliquam fermentum, risus et cursus cursus, erat odio ultrices est, ut feugiat nisi orci sed velit. Cras dictum felis et elementum aliquam. Praesent magna sem, pellentesque tincidunt vehicula iaculis, cursus sed nisi. Vestibulum viverra luctus risus, nec venenatis est dictum quis. Nunc a sem id dui aliquam dapibus ut at lacus. Cras volutpat malesuada risus, bibendum consequat tortor rhoncus sed.</p>
                    <p>Suspendisse faucibus diam at metus facilisis tincidunt. Mauris consequat neque at libero tincidunt elementum. Aenean dignissim sapien nec interdum commodo. Phasellus tempus augue vitae nisl consectetur ultricies. Sed malesuada ex eu semper lacinia. Vestibulum nisl massa, mattis at aliquet at, finibus non nibh. Mauris ante dolor, malesuada in lorem non, mattis eleifend libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed risus mi, ullamcorper ac nulla non, varius congue dolor. Quisque lobortis, felis eget volutpat commodo, turpis turpis facilisis mauris, nec varius nibh nibh sed quam. Pellentesque rutrum dapibus ligula at sollicitudin. Vivamus fringilla ac lorem vel semper. Donec pellentesque risus ac accumsan commodo. Vivamus interdum ipsum nec posuere consectetur. Donec ipsum orci, elementum ac vulputate id, sagittis vitae nibh.</p>
                    <p>Aenean vel cursus tellus. Ut tempus mollis tincidunt. Praesent interdum lacus turpis, pellentesque feugiat arcu tristique sed. Praesent imperdiet purus volutpat, luctus erat quis, porttitor sem. Curabitur congue sem id feugiat placerat. Suspendisse non diam eget nibh efficitur gravida. Etiam volutpat ex ac pulvinar vestibulum. Sed imperdiet magna mi, a fringilla nunc cursus a. Pellentesque ornare dui at urna condimentum, vel faucibus felis vulputate. Vestibulum eu dolor leo. Vestibulum gravida velit a justo fringilla, nec venenatis sapien suscipit. Nullam cursus mauris sed tortor eleifend rutrum. Fusce semper eros eget iaculis ultricies.</p>
                    <p>Phasellus at mi nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam non ornare leo, vel suscipit velit. Fusce id enim ac mauris euismod facilisis. Nullam auctor turpis nibh, eu tempor velit ultrices ut. Maecenas commodo viverra est, eget congue nisi lacinia id. Sed sit amet justo ut nulla iaculis suscipit sit amet at libero. Sed sit amet quam commodo, porta lorem sed, lacinia diam. Donec aliquam vulputate elit, ac sodales felis luctus in. In hendrerit nibh a justo volutpat eleifend.</p>
                </div>
                <div class="">
                    <a href="" class="o-button mt-6">Aenean ultricie</a>
                </div>
                
            </div>
        </div>

        <div class="mt-6 | md:mt-0 md:w-6/12 md:px-6">
            <img src="/dist/svg/undraw_design_notes_8dmv.svg" alt="" />
        </div>

    </div>

</section>
