<section class="max-w-site mx-auto px-4 mt-10 |  md:mt-20">

    <div class="md:flex md:-mx-6">

        <div class="md:w-6/12 md:px-6">
            <h2 class="text-20 tracking-tight leading-none font-extrabold text-gray-1">
                Aenean ultricies
            </h2>
            <div class="o-wysiwyg mt-6">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames tortor quam, feugiat vitae, ultricies eget,
                    tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <a href="" class="o-button mt-6">Aenean ultricie</a>
        </div>
        <div class="mt-6 | md:mt-0 md:w-6/12 md:px-6">
            <img src="/dist/svg/undraw_design_notes_8dmv.svg" alt="" />
        </div>

    </div>

</section>


.fsdfsd>.test