<header class="bg-gray-1">
    <div class="mx-auto max-w-site px-4 py-2 flex">

        <h1 class="flex-shrink-0"><img src="https://via.placeholder.com/100x50?text=Logo" alt="" /></h1>
        <nav class="hidden | md:flex md:items-center md:justify-center md:flex-1 md:px-4">
            <ul class="flex">
                <li class="mr-3 last:mr-0"><a href="" class="text-white hover:underline">Lorem</a></li>
                <li class="mr-3 last:mr-0"><a href="" class="text-white hover:underline">Pellentesque</a></li>
                <li class="mr-3 last:mr-0"><a href="" class="text-white hover:underline">Tristique</a></li>
                <li class="mr-3 last:mr-0"><a href="" class="text-white hover:underline">Feugiat</a></li>
            </ul>
        </nav>
        <div class="ml-auto">
            <ul class="flex">
                <li class="mr-3 last:mr-0 pr-3 border-white border-solid border-r">
                    <a href="" class="text-white hover:underline">Log in</a>
                </li>
                <li class="mr-3 last:mr-0">
                    <a href="" class="text-white hover:underline">Fr</a>
                </li>
            </ul>
        </div>

    </div>
</header>
