<div class="px-20 py-5">
    <h1 class="o-heading-1">Heading 1 ectus</h1>
    <br /><br />
    <h2 class="o-heading-2">Heading 2 ectus</h2>
    <br /><br />
    <h3 class="o-heading-3">Heading 3 ectus</h3>
    <br /><br />
    <h4 class="o-heading-4">Heading 4 ectus</h4>
    <br /><br />
    <h5 class="o-heading-5">Heading 5 ectus</h5>
    <br /><br />
    <h6 class="o-heading-6">Heading 6 ectus</h6>
</div>

